.p-works-kv {
  height: 100vh;
  width: 100vw;

  &__wrap {
    background-attachment: fixed;
    position: fixed;
    height: 100%;
    width: 100%;

    &:after {
      background: #2C2C36;
      content: '';
      mix-blend-mode: multiply;
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
    }
  }

  &__scroll-down {
    align-items: center;
    border: 1px solid #fff;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    mix-blend-mode: difference;
    position: absolute;
    right: 40px;
    bottom: 40px;
    transition: background .3s ease-in-out;
    height: 100px;
    width: 100px;
    z-index: map-get($z-index, works-kv);

    &:hover {
      background: #fff;
    }

    &:after {
      content: '';
      background: url('#{$image}icon_works_detail_kv_arrow.svg') no-repeat;
      mix-blend-mode: difference;
      transition: transform .5s ease-out;
      height: 40px;
      width: 40px;
    }

    &:hover:after {
      transform: translateY(5px);
    }
  }
}