.p-works-list {

  &__webgl-canvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: map-get($z-index, works-list);
  }

  &__works-list {
    width: 80vw;
    max-width: 1000px;
    margin: 0 auto;
  }

  &__works-item {
    display: block;
    width: 100%;
    height: 500px;

    img {
      visibility: hidden;
      height: 100%;
      width: 100%;
    }
  }
}