/**
 * Import Modules
 */
@use 'sass:math';

/**
 * Styles
 */
.p-gnav {
  background: #1f1f1f;
  clip-path: inset(0 0 100% 0);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 5vw;
  position: fixed;
  top: 0;
  left: 0;
  transition: clip-path 1s cubic-bezier(.9, 0, .4, 1);
  height: 100vh;
  width: 100vw;
  z-index: map-get($z-index, gnav);

  .js-nav-open & {
    clip-path: inset(0 0 0 0);
  }

  &__nav-lg-group {
    margin-bottom: 40px;
    mix-blend-mode: difference;
  }

  &__nav-lg-item {
    @include font-classico-r;
    color: transparent;
    font-size: 148px;
    -webkit-text-stroke: 1px #fff;
    transition: color .3s ease-in-out;
    height: 1em;
    width: max-content;

    &:not(:last-child) {
      margin-bottom: 20px;
    }

    &:hover {
      color: #fff;
    }

    & .c-split-str {
      transform: translateY(150%);

      @for $i from 1 through 10 {
        &:nth-child(#{$i}) {
          $delay: math.div($i, 20);
          transition: transform 1.5s cubic-bezier(.7, 0, .3, 1) #{$delay + s};
        }
      }
    }

    .js-nav-open & .c-split-str {
      transform: translateY(0);
    }

    .js-page-leave & .c-split-str {
      transform: translateY(-150%);
    }
  }

  &__nav-sm-group {
    align-items: center;
    display: flex;
    margin-bottom: 60px;
    mix-blend-mode: difference;
    transition: opacity 1s ease-in-out;
  }

  &__nav-sm-item {
    font-size: 21px;

    &:not(:last-child) {
      margin-right: 20px;
    }

    @for $i from 1 through 3 {
      &:nth-child(#{$i}) {
        $delay: math.div($i, 9);
        transition: opacity 1s ease-in-out $delay, transform 1s ease-in-out #{$delay}s;
  
        .js-page-leave & {
          opacity: 0;
          transform: translateY(-20px);
        }
      }
    }
  }

  &__contact-link {
    mix-blend-mode: difference;
    padding-bottom: 10px;
    position: relative;
    transition: opacity 1s ease-in-out .5s, transform 1s ease-in-out .5s;
    width: max-content;

    &:after {
      content: '';
      background: rgba(255, 255, 255, .5);
      position: absolute;
      bottom: 0;
      left: 0;
      height: 1px;
      width: 100%;
    }

    &:hover:after {
      animation: link_anm_1 .5s .2s forwards alternate ease-in-out, link_anm_2 .5s .7s forwards alternate ease-in-out;
    }

    .js-page-leave & {
      opacity: 0;
      transform: translateY(-20px);
    }
  }
}

@keyframes link_anm_1 {
	from {
		transform-origin: right;
		transform: scaleX(1);
	}
	to {
		transform-origin: right;
		transform: scaleX(0);
	}
}
@keyframes link_anm_2 {
	from {
		transform-origin: left;
		transform: scaleX(0);
	}
	to {
		transform-origin: left;
		transform: scaleX(1);
	}
}