.p-works-design-detail {
  background: $baseColor;
  padding: {
    top: 150px;
    bottom: 150px;
  }
  position: relative;
  z-index: 1;

  &__head {
    overflow: hidden;
  }

  &__head-inner {
    @extend .p-top-kv__slide-inner;
  }

  &__head-txt {
    @extend .p-top-kv__slide-txt;
    font-size: 140px;
  }

  &__main {
    @include contentWidth;
    padding-top: 150px;
  }

  &__design-img {
    display: flex;
    transition: transform .5s ease-out, opacity .5s ease-out;
    
    &:not(:last-child) {
      margin-bottom: 100px;
    }

    img {
      height: 100%;
      width: 100%;
    }
  }
}