.c-transition-mask {
  // background: #1f1f1f;
  display: block;
  pointer-events: none;
  position: fixed;
  top: 0;
  left: 0;
  transform: scale(1, 0);
  transform-origin: top;
  transition-property: transform, visibility;
  transition-duration: 1s;
  transition-timing-function: cubic-bezier(1, 0, .3, 1);
  visibility: hidden;
  height: 100%;
  width: 100%;
  z-index: 9999;

  &.js-active {
    pointer-events: auto;
    transform: scale(1, 1);
    transform-origin: bottom;
    visibility: visible;
  }
}