/**
 * Import Modules
 */
@use 'sass:math';

/**
 * Styles
 */
.l-contents {
  min-height: 100vh;


  @for $i from 1 through 10 {
    & > *:nth-child(#{$i}):not(.js-horizontal-scroll) {
      $delay: math.div($i, 10);
      transition: all 1s cubic-bezier(.7, 0, .3, 1) #{$delay}s;

      .js-page-leave & {
        transform: translateX(20px);
        opacity: 0;
      }
    }
  }
}