.p-top-kv {
  align-items: center;
  background: var(--color-base);
  display: flex;
  justify-content: center;
  overflow: hidden;
  position: relative;
  height: 100vh;
  width: 100vw;

  &__main-img {
    position: absolute;
    width: 30.75vw;
    z-index: map-get($z-index, top-kv);

    img {
      filter: drop-shadow(30px 30px 30px rgba(38, 40, 46, .7));
      transform: rotate(8deg);
      transform-origin: center;
      transition: opacity 1s ease-out .6s, transform 1s ease-out .6s;
      height: 100%;
      width: 100%;

      .js-home-enter & {
        opacity: 0;
        transform: translateX(100px) rotate(0);
      }
    }
  }

  &__slide {
    animation: rotate_kv_flow_text 90s ease-in-out infinite;
    clip-path: inset(0 0 0 0);
    overflow: hidden;
    transition: clip-path 1s cubic-bezier(.8, 0, .3, 1) 1s;

    .js-home-enter & {
      clip-path: inset(0 0 0 100%);
    }
  }

  &__slide-inner {
    display: flex;
    width: max-content;
  }

  &__slide-text {
    @include font-classico-r;
    animation: scroll_x_01 120s -60s linear infinite;
    backface-visibility: hidden;
    color: transparent;
    font-size: 180px;
    line-height: 1em;
    mix-blend-mode: difference;
    padding-left: 40px;
    -webkit-text-stroke: 1px #fff;
    height: 1.2em;
    will-change: transform;

    &:nth-child(2) {
      animation: scroll_x_02 120s linear infinite;
    }
  }
}

@keyframes rotate_kv_flow_text {
  0%, 100% { transform: rotate(5deg); }
  50% { transform: rotate(-5deg); }
}

@keyframes scroll_x_01 {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

@keyframes scroll_x_02 {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-200%);
  }
}