.l-header {
  mix-blend-mode: difference;
  position: absolute;
  z-index: 99;

  &__logo {
    @include fontClassicoR;
    font-size: 21px;
    position: fixed;
    top: 40px;
    left: 40px;

    &:hover {
      opacity: 1;
    }
  }

  &__nav-icon {
    background: #fff;
    border: 2px solid transparent;
    border-radius: 50px;
    cursor: pointer;
    position: fixed;
    top: 40px;
    right: 40px;
    transform-origin: center;
    transition: background 1s, border 1s, transform 1s;
    transition-timing-function: cubic-bezier(.9, 0, .4, 1);
    height: 20px;
    width: 20px;
    z-index: 99;

    .js-nav-open & {
      background: transparent;
      border: 2px solid #fff;
      transform: scale(1.8);
    }
  }

}


/**
 *
 * Smart phone style
 *
 */

@include sp {

}